.table-custom {
    font-size: 1vw;
    overflow: auto;
    text-align: center;
}
.btn-increment, .btn-decrement {
    font-size: 0.5vw;
    background-color: rgb(238,160,157);
    color: white;
    border-radius: 2rem !important;
    padding: 0.4rem !important;
    line-height: 0 !important;
    margin-right: 5px;
    width: 2vw;
}
.table-responsive {
    height: 20vw;
    overflow: auto;
    margin-bottom: 20px
}
.mb {
    margin-bottom: 20px;
}